<section class="pop_box">
    <div class="row clearfix">
        <div class="center">
            <h4>Tu cambio ha sido exitoso</h4>
        </div>

        <a href="{{ path('profile') }}" class="btn secondary">Ir a mi cuenta</a>
    </div>
</section>