<section class="pop_box">
    <div class="row clearfix">
        <div class="center">
            <h4>Tu cancelación ha sido exitosa</h4>
            <small>¡Ve por más!</small>
        </div>

        <a href="{{ path('profile') }}" class="btn secondary">Ir a mi cuenta</a>
        <a href="{{ path('reservation_calendar') }}" class="btn">Reservar clase</a>
    </div>
</section>