<div class="">
    {% if page_section is defined %}
        <div class="page-title">
            <div class="title_left">
                <h3>
                    {% if return_to is defined %}
                        <a href="{{ return_to }}" class="btn btn-default btn-return-to">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {{ page_section }}
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ page_title }}</h2>

                    {% block actions %}{% endblock %}
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
