APP_ENV=dev
APP_SECRET=ChangeMe
DATABASE_URL="mysql://app:ChangeMe@127.0.0.1:3306/pbstudio?serverVersion=8.0&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null
RESETTING_RETRY_TTL=7200
