<section class="pop_box">
    <div class="row clearfix">
        <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>
        <div class="center">
            <h4>¡Tu registro ha sido exitoso!</h4>

            <p>Si se libera un lugar te lo asignaremos a ti automáticamente y te notificaremos vía correo electrónico.</p>
        </div>
    </div>
</section>