<footer>
    <div>
         <div class="legales">
            <p><a href="{{ path('page', { 'slug': 'aviso-de-privacidad' }) }}">Aviso de Privacidad</a></p>
            <p>Derechos Reservados &copy; P&amp;B 2020</p>
            <p>Desing &amp; develop with &hearts; by <a href="http://www.encodemedia.com.mx/" target="blank">Encode Media</a> </p>
        </div>
    </div>
</footer>