<div class="remodal remodal-notice" data-remodal-id="modal-notice" data-remodal-options="hashTracking:false,closeOnEscape: false,closeOnOutsideClick: false">
    <section class="pop_box">
        <div class="row clearfix">
            <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>
            <div class="center">
                {% if url %}
                    <a href="{{ url }}"><img src="{{ asset(vich_uploader_asset(image, 'file')) }}" alt="Aviso"></a>
                {% else %}
                    <img src="{{ asset(vich_uploader_asset(image, 'file')) }}" alt="Aviso">
                {% endif %}
            </div>
        </div>
    </section>
</div>