<section class="pop_box">
    <div class="row clearfix">
        <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>

        <div>
            <a href="#" class="btn" data-url="{{ path('app_login') }}" data-remodal>Inicia Sesión para Reservar</a>
        </div>
        <div>
            <p>Si aún no estás inscrito <a href="#" data-url="{{ path('register') }}" data-remodal>Regístrate Aquí</a></p>
        </div>
    </div>
</section>