{% extends 'mail/layout.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table width="100%" style="margin: 20px">
                <tr>
                    <td><strong>Nombre:</strong></td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td><strong>Teléfono:</strong></td>
                    <td>{{ phone }}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{ from }}</td>
                </tr>
                <tr valign="top">
                    <td><strong>Mensaje:</strong></td>
                    <td>{{ message|nl2br }}</td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
