{% extends 'mail/layout.html.twig' %}

{% block body %}
    <tr>
        <td align="center" style="font-family:arial,sans-serif; color:#67ccbb; font-size:30px; text-align:center; text-transform:uppercase; font-weight:100">
            Restablecer la contraseña
        </td>
    </tr>
    <tr>
        <td>
            <table width="600px" style="margin:20px;" class="w320">
                <tr>
                    <td class="blockwrap" style="margin-bottom:10px;">
                        <table>
                            <tr>
                                <td style="font-family:arial,sans-serif; color:#6D6E70; font-size:16px; text-align:center; padding: 10px;">
                                    Estimado (a) {{ user.name }}
                                    <br /><br /><br />

                                    Visita el siguiente link para <a href="{{ confirmationUrl }}">restablecer tu contraseña</a>
                                    <br /><br />

                                    Si no tenías intención de restablecer tu contraseña, a continuación,
                                    puedes ignorar este mensaje; la contraseña no cambiará.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
