<section class="box-form">
    <div class="gradient">
        <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>

        <div class="row">
            <h2>Recuperar contraseña</h2>
            <p>
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
        </div>
    </div>
</section>
